api/*.egg-info
api/.coverage
api/.ipynb_checkpoints
api/.DS_Store
api/raw_data/
api/**/__pycache__/
api/.env
api/.env
api/data.ms/
api/meilisearch
api/twitter_credentials.json
meilisearch
ms_db/
ms_db.zip
data.ms/
