# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
google-cloud-translate
mlflow
s3fs
uvicorn
fastapi
bs4
twython==3.8.2
requests==2.25.1


# utilities
six>=1.14
joblib
memoized-property
termcolor

# search/database
meilisearch
python-dotenv
streamlit


#stramlit app

markdown

typing
altair
matplotlib
streamlit
plotly
datetime

pandas
pydeck
geopy
wordcloud

multiapp
bokeh


'''
from dateutil.relativedelta import relativedelta  # to add days or years
import streamlit as st
import requests
import pandas as pd
import plotly.graph_objects as go
from bokeh.models.widgets import Div
import streamlit as st
from multiapp import MultiApp
from apps import home, data, model # import your app modules here
from matplotlib import pyplot as plt
from matplotlib import colors 
import streamlit.components.v1 as components
import requests
import matplotlib.pyplot as plt
import streamlit as st
import datetime
from dateutil.relativedelta import relativedelta  # to add days or years
import pydeck as pdk
from wordcloud import WordCloud, STOPWORDS
import pandas as pd
import functions as fc
import plotly.graph_objects as go
from plotly.subplots import make_subplots'''